._navbar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(5px);
}

._hide {
    transform: translateY(calc(-1 * var(--navbar-height)));
    margin-top: calc(-1 * var(--navbar-height));
}
